<!doctype html>
<html lang="en">
  {% include 'partials/head.twig' %}
  <body>
    {% include 'partials/navigation.twig' %}
    <div class="container main-container">
    {% for item in wish_items %}
      <div class="row">
        <h4 class="col text-capitalize">{{item.name}}</h4>
      </div>
      <div class="row">
        <div class="col-3">
          <img src="images/products/{{item.image}}" class="img-fluid">
        </div>
        <div class="col-6">
          <p class="price">{{item.price}}</p>
          <p class="quantity text-success">{{item.quantity}} available </p>
        </div>
        <div class="col-3">
          <form method="get" action="wishlist.php">
            <input type="hidden" name="product_id" value="{{item.product_id}}">
            <button type="submit" name="action" value="delete" class="btn btn-primary">
              <i class="fas fa-trash-alt"></i>
              <span class="sr-only">Delete Item</span>
            </button>
          </form>
        </div>
      </div>
    {% endfor %}
    </div>
    {% include 'partials/footer.twig' %}
  </body>
</html>